:root {
    --default-color: #343434;
}

.medium-bold{
    color: var(--default-color);
    font-weight: bold;
    font-size: 1.5em;
}

.hidden-link {
    color: var(--default-color);
    text-decoration: none;
}

.hidden-link:hover {
    color:var(--default-color);
    text-decoration:none; 
    cursor:pointer;  
}

h1 {
    color:var(--default-color);
}

h2 {
    color:var(--default-color);
    font-size: 1.5em;
}

h5 {
    color:var(--default-color);
    font-size: 1em
}